.header-denmark .swiper-custom-pagination{width: 100%; left: 0; margin-left: 0;}
.popular-tours .section-desc{padding-left: 0; margin-top: 15px;}
.adventure-activities .section-desc{padding-left: 0; margin-top: 15px;}
.footer .dropdown a span{font-size: 14px;}
.tour-box-list .tour-content{padding: 10px 20px;}
.tour-box-list a{width: 100%; margin-top: 10px;}
.tour-box-list .inner{margin-top: -30px;}
.our-history .wrapper .content{padding: 35px;}
.our-history .wrapper .content .inner h4{font-size: 25px;}
.our-history .wrapper .content .inner p{font-size: 16px;}
.tour-box .tour-content li div span{font-size: 12px;}
.our-offices .office-box figure{flex-basis: 50%;}
.our-offices .office-box .office-content{padding: 30px;}
.contact .contact-box:after{display: none;}
.popular-destinations figure{flex: 60% !important; height: 258px !important;}
.popular-destinations .destinations-content{flex: 60% !important; height: 258px !important;}